## **Variables**
Any Python interpreter can be used as a calculator:

In [ ]:
3 + 5 * 4

23

This is great but not very interesting. To do anything useful with data, we need to assign its value to a variable. 
In Python, we can assign a value to a variable, using the equals sign =. 
For example, we can track the weight of a patient who weighs 60 kilograms by assigning the value 60 to a variable weight_kg:

In [ ]:
weight_kg = 60

From now on, whenever we use weight_kg, Python will substitute the value we assigned to it. A variable is a name for a value.

##  Rules for naming a variable in Python

* Variables names must start with a letter or an underscore like _ product , product_


* The remainder of your variable name may consist of letters, numbers and underscores


* spacy1, pyThon,machine_learning are some valid variable names


* Names are case sensitive.


* case_sensitive, CASE_SENSITIVE, and Case_Sensitive are each a different variable.


This means that, for example:

1. weight0 is a valid variable name, whereas 0weight is not
2. weight and Weight are different variables

In [ ]:
1oNone = 4

SyntaxError: ignored

In [ ]:
onone_abc_1 = 5

In [ ]:
list = 5

* Names cannot begin with a number. Python will throw an error when you try to do so 


* Names can not contain spaces, use _ instead


* Names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
      
      
* It is considered best practice that names are lowercase with underscores


* Avoid using Python built-in keywords like `list`, `str` , `def` etc. We will talk more about such conventions later on

## **Types of data**

Python knows various types of data. 
Three common ones are:

1. integer numbers
2. floating point numbers, and
3. strings.

In the example above, variable weight_kg has an integer value of 60. If we want to more precisely track the weight of our patient, we can use a floating point value by executing:

In [ ]:
weight_kg = 60.3

To create a string, we add single or double quotes around some text. To identify and track a patient throughout our study, we can assign each person a unique identifier by storing it in a string:

In [ ]:
patient_id = '001'

## **Using Variables in Python**

Once we have data stored with variable names, we can make use of it in calculations. We may want to store our patient’s weight in pounds as well as kilograms:

In [ ]:
weight_lb = 2.2 * weight_kg

We might decide to add a prefix to our patient identifier:

In [ ]:
patient_id = 'inflam_' + patient_id

## **Built-in Python functions**
To carry out common tasks with data and variables in Python, the language provides us with several built-in functions. To display information to the screen, we use the print function:

In [ ]:
print(weight_lb)
print(patient_id)

132.66
inflam_001

When we want to make use of a function, referred to as calling the function, we follow its name by **parentheses**. 

The parentheses are important: if you leave them off, the function doesn’t actually run! Sometimes you will include values or variables inside the parentheses for the function to use. 
In the case of print, we use the parentheses to tell the function what value we want to display. 

We can display multiple things at once using only one print call:

In [ ]:
print(patient_id, 'weight in kilograms:', weight_kg)

inflam_001 weight in kilograms: 60.3

We can also call a function inside of another function call. For example, Python has a built-in function called type that tells you a value’s data type:

In [ ]:
print(type(60.3))
print(type(patient_id))

<class 'float'>
<class 'str'>

Moreover, we can do arithmetic with variables right inside the print function:

In [ ]:
print('weight in pounds:', 2.2 * weight_kg)

weight in pounds: 132.66

The above command, however, did not change the value of weight_kg:

In [ ]:
print(weight_kg)

60.3

To change the value of the weight_kg variable, we have to assign weight_kg a new value using the equals = sign:

In [ ]:
weight_kg = 65.0
print('weight in kilograms is now:', weight_kg)

weight in kilograms is now: 65.0

Python allows you to assign multiple values to multiple variables in one line by separating the variables and values with commas. What does the following program print out?

In [ ]:
first, second = 'Grace', 'Hopper'
third, fourth = second, first
print(third, fourth)

Hopper Grace

What are the data types of the following variables?

In [ ]:
planet = 'Earth'
apples = 5
distance = 10.5

In [ ]:
print(type(planet))
print(type(apples))
print(type(distance))

<class 'str'>
<class 'int'>
<class 'float'>

## **Key Points**
1. Basic data types in Python include integers, strings, floating-point numbers, and boolean.

2. Use variable = value to assign a value to a variable in order to record it in memory.

3. Variables are created on demand whenever a value is assigned to them.

4. Use print(something) to display the value of something.

5. Built-in functions are always available to use.

## **Different data types we will encounter in Python**

Numeric - Numeric variables take values which are numbers like 9, 3.14, 0, Inf

String - String variables are used to store textual information

Boolean - Boolean variables have two modes either True or False. 

Datetime - These variables are used to store date and time values such as 2020-08-01 12:23:54

## **Integers and Floats**

### **Basic Arithmetic**

In [ ]:
# Addition
2+1

3

In [ ]:
# Subtraction
2-5

-3

In [ ]:
# Multiplication
2*2

4

In [ ]:
# Division
3/2

1.5

In [ ]:
# Floor Division
7//2

3

In [ ]:
# Exponential
2**5

32

In [ ]:
# Modulus
5%6

5

In [ ]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [ ]:
2+ 10* (10+3)

132

In [ ]:
# Scientific Notation for representing large numbers
4E6

4000000.0

## Let's talk about numbers!

* A lot many different types of numbers are supported in Python like integers (int type), real numbers (float type), complex numbers. We will mostly use integer and floating point numbers.


* Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.


* Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (E) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 


* You can always control the number of digits coming after the decimal, hence they are called floating-point numbers

### The table below summarises the two numeric data types, Integers and Floats:
<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

### **Operations on variables**

In [ ]:
x= 5
y= 6.5

Basic Arithmetic operations we can do on x and y.

In [ ]:
# Addition
z = x+y

print(float(z))

11.5

A variable can be assigned different values and data types and it will store the last value assigned

In [ ]:
# Subtraction
z = x-y

# Use the in-built print function to print the variable
print(z)

-1.5

In [ ]:
 # Find out the data type of variable z
type(y)

float

In [ ]:
# Multiplication
z = x*y

print(z)  # Print the variable z
type(z)   # Get the data type of variable z

32.5

float

In [ ]:
# Division
z = x/y

print(z) # Print the variable z
type(z)  # Get the data type of variable z

0.7692307692307693

float

In [ ]:
# Floor division
z= x//y  #  Remember x=5, y=6.4
print(z)

0.0

**Waittt! Shouldn't it be 0.75??**

The reason we get this result is because we are using "floor" division.

In [ ]:
# Modulus is denoted by % sign
y=5
x=3

z = y%x      
print(z)

2

In [ ]:
# Using powers and exponents

z = x**y    
print(z)

243

In [ ]:
# BODMAS nostalgia
some_random_operation =(x+y)/y + (y-x)*x     

print(some_random_operation)
type(some_random_operation)

7.6

float

# <u>Boolean Variables </u>

* A Boolean variable only takes two values either True or False. It is used for comparisons

## Comparison Operators 

* These operators will allow us to compare variables and output a Boolean value (True or False). 


* First we'll present a table of the comparison operators and then work through some examples:


* In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

* Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [ ]:
# Set object to be a boolean
boolean_variable = False
type(boolean_variable)

bool

In [ ]:
#Show
boolean_variable

False

### Equal

In [ ]:
2 == 3

False

In [ ]:
2==0

False

* <u> Note that <code>==</code> is a comparison operator, while <code>=</code> is an assignment operator. </u>

### Not equal

In [ ]:
2!=0

True

In [ ]:
2!=2

False

### Greater than

In [ ]:
a=3
b=2
a> b

True

In [ ]:
a == 3

True

In [ ]:
b > 4

False

### Less than

In [ ]:
10 < 45

True

In [ ]:
4 < 2

False

### Greater than or equal to

In [ ]:
3 >=2

True

In [ ]:
4 >= 4

True

### Less than or equal to

In [ ]:
3 <= 0

False

In [ ]:
1 <= 2

True

## <u>Problem 1</u>

In a cricket tournament, based on the outcome of a particular match a team gets following points:
* <code>wins</code> gets <code>3</code> points
* <code>draws</code> gets <code>1</code> points
* <code>losses</code> gets <code>0</code> points

Team Aravali plays <code>8</code> matches in this tournament. It wins <code>4</code> matches, loses <code>3</code> matches and draws <code>1</code>. What is the total number of points gained by the Team Aravali?

In [ ]:
# Calculate the total points gained by Team Aravali
aravali_points =

## <u> Problem 2 </u>

A bag contains <code>45</code> apples, <code>65</code> oranges and <code>30</code> bananas. Find the percentage of each type of food items in the bag.

In [ ]:
# Calculate the percentage of apples and print the variable